*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px ;
}
.heading{
    width: 50%;
    padding:0 0 30px 0;
}
.heading h3{
    font-size: 40px;
    border-bottom: 3px solid #000;
    padding: 0 0 25px 0;
    letter-spacing: 3px;
}
.heading span{
    font-weight: 100;
}
.box{
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.col{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 32.5%;
}
.col img{
    width: 100%;
    border-radius: 10px;
    transition: all .5s;
    cursor: pointer;
}

.col img:hover{
    filter: grayscale();
}
.over{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,.5);
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    display: none;
}
.image-container{
    width: 50%;
}
.image-container img{
    width: 100%;
    border-radius: 10px;
}
i{
    color: rgba(204, 28, 28, 0.7);
    font-size: 40px;
    position: absolute;
    top:0;
    right:0;
    padding: 30px;
    cursor: pointer;
}


@media screen and (max-width:768px) {
    .box{
        flex-direction: column;
    }
    .col{
        width: 100%;
    }
    .image-container{
        width: 70%;
        padding: 30px;
    }
}
@media screen and (max-width:643px) {
    .heading{
        width: 100%;
    }
    .image-container{
        width: 90%;
        padding: 50px;
    }
    .heading h3{
        font-size: 30px;
    }
}